<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a class="TabHeader" href="/" title="Diamonds.Net">
        <div class="TabIcon"></div>
        <div class="TabText">Rapaport Diamonds Center</div>
    </a>
</div>


<div class="content" role="main">

    <div class="container">

        <app-diamond-statistics [diamonds]="diamonds"></app-diamond-statistics>

        <app-diamonds-grid [diamonds]="diamonds"></app-diamonds-grid>

        <app-add-diamond></app-add-diamond>
    </div>

</div>